<html lang="en">
        
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>NodeJs Encrypted password authentication</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        
        </head>
        
        <body class="container">
            <br/>
            <div class="row justify-content-md-center jumbotron">
        
                <div class="col-sm-auto">
                    <form action="/login" method="GET">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
        
                <div class="col-sm-auto">
                    <form action="/signup" method="GET">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </form>
                </div>
        
            </div>
        </body>
        
        </html>